mixin hzNavbar()
    div.hz-navbar(data-hz-component="HzNavbar")
        div.hz-navbar__progress
            div.hz-navbar__progress-bar
                div.hz-navbar__progress-mask
                div(data-hz-navbar-bar).hz-navbar__progress-value
            div(data-hz-navbar-progress).hz-navbar__content.hz-navbar__progress-percentage 0%
        div.hz-navbar__actions
            button(data-hz-navbar-home).hz-navbar__btn.hz-navbar__action-home
                span.hz-navbar__content Inicio
            button(data-hz-navbar-index).hz-navbar__btn.hz-navbar__action-index
                span.hz-navbar__content Indice
        div.hz-navbar__pager
            button(data-hz-navbar-prev).hz-navbar__btn.hz-navbar__prev
                span.hz-navbar__content Anterior
            p.hz-navbar__pages
                span(data-hz-navbar-current).hz-navbar__content.hz-navbar__current 1
                span(data-hz-navbar-total).hz-navbar__content.hz-navbar__total 12
            button(data-hz-navbar-next).hz-navbar__btn.hz-navbar__next
                span.hz-navbar__content Siguiente
