//********************************************
//* Project: hznavbar
//* File: _hz-navbar.theme
//* Description: Generador de temas
//*********************************************
@import "./common/function";
@mixin hz-navbar__theme-maker(
    $BC-navbar,//fondo general
    $TC-bar,//texto del % de progreso
    $TC-home,//texto de home
    $TC-index,//texto de índice
    $TC-exit,//texto de salir
    $TC-pager-btn,//texto de los botones del paginador
    $TC-pager-pages,//texto de las páginas
    $BC-bar,//fondo de la barra de progreso
    $BC-bar-value,//fondo de la barra de progreso con valor
    $BR-bar:none,//borde de la barra de progreso
    $TM-animation:$config_animate-mid,//tiempo de animación
    $TC-home--hover:$TC-home,//texto de home en hover
    $TC-index--hover:$TC-index,//texto de índice en hover
    $TC-home-icon:$TC-home,//icono de home
    $TC-index-icon:$TC-index,//icono de índice
    $TC-home-icon--hover:$TC-home-icon,//icono de home en hover
    $TC-index-icon--hover:$TC-index-icon,//icono de índice en hover
    $TC-exit-icon:$TC-exit,
    $TC-exit--hover:$TC-exit,
    $TC-exit-icon--hover:$TC-exit,
    $BC-dialog__header:$BC-bar//fondo cabecera dialogo
) {
    .hz-navbar {
        background-color: $BC-navbar;
        .hz-navbar__progress-percentage {
            color: $TC-bar;
        }
        .hz-navbar__btn {
            transition: all $TM-animation ease;
            .hz-navbar__content {
                position: absolute;
                top: 0;
                left: -99999em;
            }
            &:not([disabled]) {
                &:hover,
                &:focus {
                    transform: scale(1.2);
                }
            }
            &[disabled] {
                opacity: 0.5;
                cursor: default;
            }
        }
        //progress
        .hz-navbar__progress-bar {
            border: 2px solid $BR-bar;
            background-color: $BC-bar;
        }
        .hz-navbar__progress-value {
            transition: all $TM-animation ease;
            background-color: $BC-bar-value;
        }
        //actions
        .hz-navbar__actions {
            .hz-navbar__btn {
                font-size: em(16);
                &:after {
                    transition: all $TM-animation ease;
                    font: {
                        family: FontAwesome;
                        size: em(28, 16);
                    }
                }
            }
        }
        .hz-navbar__action-home {
            color: $TC-home;
            &:not([disabled]) {
                &:hover,
                &:focus {
                    color: $TC-home--hover;
                    &:after {
                        color: $TC-home-icon--hover;
                    }
                }
            }
            &:after {
                content: "\f015";
                color: $TC-home-icon;
            }
        }
        .hz-navbar__action-index {
            color: $TC-index;
            &:not([disabled]) {
                &:hover,
                &:focus {
                    color: $TC-index--hover;
                    &:after {
                        color: $TC-index-icon--hover;
                    }
                }
            }
            &:after {
                content: "\f0ca";
                color: $TC-index-icon;
            }
        }
        .hz-navbar__action-exit{
            color:$TC-exit;
            &:not([disabled]){
                &:hover,
                &:focus {
                    color: $TC-exit--hover;
                    &:after {
                        color: $TC-exit-icon--hover;
                    }
                }
            }
            &:after{
                content:"\f08b";
                color:$TC-exit-icon;
            }
        }
        //pager
        .hz-navbar__pager {
            .hz-navbar__btn {
                display: flex;
                flex-direction: row;
                align-items: center;
                color: $TC-pager-btn;
                &:after {
                    font: {
                        family: FontAwesome;
                        size: em(30);
                    }
                }
                &.hz-navbar__prev {
                    &:after {
                        content: "\f053";
                    }
                }
                &.hz-navbar__next {
                    &:after {
                        content: "\f054";
                    }
                }
            }
        }
        .hz-navbar__pages {
            color: $TC-pager-pages;
        }
    }
    .ui-dialog.hz-navbar__dialog{
        padding:0;
        box-shadow:0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
        .ui-dialog-titlebar{
            background-color:$BC-dialog__header;
        }
        .ui-dialog-titlebar-close{
            font-size:0;
            background: none;
            border:none;
            cursor: pointer;
            &:after{
                content:"\f00d";
                font-size:rem(16);
                color:#fff;
                font-family:"FontAwesome";
            }
        }
        .hz-navbar__index-item{
            .hz-navbar__index-item-content {
                color: #666;
                cursor: default;
            }
            &.hz-navbar__page--completed{
                .hz-navbar__index-item-content {
                    color: $BC-dialog__header;
                    cursor: pointer
                }
            }
            &.hz-navbar__page--visited,
            &.hz-navbar__page--completed + .hz-navbar__index-item{
                .hz-navbar__index-item-content {
                    color: #333;
                    cursor: pointer;
                }
            }
        }

    }
}